<div class="container mt-4">
    <h2 class="mb-3">Employee List</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Department</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.id}}</td>
                <td>{{emp.firstName}}</td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.departmentName || emp.departmentId}}</td> 
                <td>{{emp.roleName || emp.roleId}}</td>
                <td>
                    <button class="btn btn-sm btn-danger m-1" (click)="deleteEmployee(emp.id)"><i class="bi bi-trash"></i></button>
                    
                    <button class="btn btn-sm btn-primary me-2" 
                            data-bs-toggle="modal" 
                            data-bs-target="#updateEmployeeModal" 
                            (click)="setSelectedEmployee(emp)">
                        <i class="bi bi-pencil-square"></i> Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Update Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form>
          <div class="mb-3">
             <label for="first-name" class="form-label">First Name</label>
             <input [(ngModel)]="selectedEmployee.firstName" name="firstName" type="text" class="form-control" required>
          </div>

          <div class="mb-3">
             <label for="last-name" class="form-label">Last Name</label>
             <input [(ngModel)]="selectedEmployee.lastName" name="lastName" type="text" class="form-control" required>
          </div>

          <div class="mb-3">
             <label for="email" class="form-label">Email address</label>
             <input [(ngModel)]="selectedEmployee.email" name="email" type="email" class="form-control" required email>
          </div>

          <div class="mb-3">
             <label class="form-label">Department</label>
             <select [(ngModel)]="selectedEmployee.departmentId" name="departmentId" class="form-select">
                 <option *ngFor="let dep of departmentList" [value]="dep.id">
                     {{ dep.name }}
                 </option>
             </select>
          </div>

          <div class="mb-3">
             <label class="form-label">Role</label>
             <select [(ngModel)]="selectedEmployee.roleId" name="roleId" class="form-select" [disabled]="!selectedEmployee.departmentId">
                 <option *ngFor="let role of roleList" [value]="role.id">
                     {{ role.name }}
                 </option>
             </select>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveUpdatedEmployee()">Update Changes</button>
      </div>
    </div>
  </div>
</div>